{% extends 'core/base.html' %}

{% block content %}
{% if item %}
{% for item in item %}
<div class="grid lg:grid-cols-3 gap-10 flex justify-center item-center h-srceen">
  <div class="col-span-1">

  </div>

  <div class="col-span-3">
    <img src="{{ item.image.url }}" alt="" class="rounded-l-xl">
    <div class="p-6 bg-white rounded-b-xl shadow-xl mb-4">
    <a href="{% url 'detail' item.id %}"><h1 class="text-2xl font-bold">{{ item.name }}</h1></a>
    <p class="text-gray-500 "><strong>$</strong>{{ item.price }}</p>
    <small class="text-gray-500">{{item.created_by | timesince}} ago</small>
  </div>
 {% endfor %}
     <h1 class="px-6 py-2 flex justify-center font-bold">No Items Found</h1>
{% endif %}
{% endblock %}